extends ../extend/default
block variables
    - var title = 'Barbers sign in page';
    - var bodyClass = 'not-logged';
block main
    main(data-page="authorization")
        .wrapper
            section.sign-in
                h1.title Войдите в Ваш аккаунт
                form.authorization-box.signin
                    .authorization-box__head
                        span.greytext Авторизация через одну из соц. сетей
                        .social_auth
                            .facebook: +svg('icon-fb')
                            .vkontakte: +svg('icon-vk')
                            .twitter: +svg('icon-tw')
                            .linkedin: +svg('icon-li')
                        span.greytext или
                    .authorization-box__fields
                        label.form-input.userEmail(data-validation="required", data-validation-type="email")
                            span.label-title E-mail
                            input.animatedPlaceholder(type="email", placeholder="Введите E-mail", name="userEmail")
                            .error
                        label.form-input.userPassword(data-validation="required", data-validation-type="text",
                                                        data-validation-text="Минимальная длинна пароля - 6 символов")
                            span.label-title Пароль
                            input.animatedPlaceholder(type="password", placeholder="Придумайте пароль", name="userPassword",
                                                        data-validation-condition="min-length", data-min-length="6")
                            .error
                    .authorization-box__remember-me
                        label
                            span Запомнить меня
                            input(type="checkbox", name="remember", value="true")
                            .checkbox-placeholder: +svg('icon-check')
                        a(href="#!") Напомнить пароль
                    button.authorization-box__button.validate-form-button(type="submit") Войти
                .go-to-another-page
                    span Если у Вас еще нет аккаунта, нажмите на кнопку
                    a(href="#!") Зарегистрироваться