extends ../extend/default
block variables
    - var title = 'Barbers sign up page';
    - var bodyClass = 'not-logged';
block main
    main(data-page="authorization")
        .wrapper
            section.sign-up
                h1.title Пройдите регистрацию
                form.authorization-box.signup
                    .authorization-box__head
                        label.user
                            input(type="radio", name="type", value="user", checked)
                            .button Я пользователь
                        label.specialist
                            input(type="radio", name="type", value="specialist")
                            .button Я специалист
                        label.saloon
                            input(type="radio", name="type", value="saloon")
                            .button Я представляю салон
                    .authorization-box__fields
                        label.form-input.userName(data-validation="required", data-validation-type="text")
                            span.label-title Имя
                            input.animatedPlaceholder(type="text", placeholder="Введите имя", name="userName",
                                                        data-validation-condition="min-length", data-min-length="1")
                            .error
                        label.form-input.userEmail(data-validation="required", data-validation-type="email")
                            span.label-title E-mail
                            input.animatedPlaceholder(type="email", placeholder="Введите E-mail", name="userEmail")
                            .error
                        label.form-input.userPassword(data-validation="required", data-validation-type="text",
                                                        data-validation-text="Минимальная длинна пароля - 6 символов")
                            span.label-title Пароль
                            input.animatedPlaceholder(type="password", placeholder="Придумайте пароль", name="userPassword",
                                                            data-validation-condition="min-length", data-min-length="6")
                            .error
                        label.form-input.captcha(data-validation="required", data-validation-type="text",
                                                    data-validation-text="Код не совпадает с кодом на картинке")
                            span.label-title Код с картинки
                            .input-container
                                img.captcha(src="img/captcha.png")
                                input.animatedPlaceholder(type="text", placeholder="Введите код", name="captcha",
                                                            data-validation-condition="equals", data-equals="zQSg2")
                            .error
                    button.authorization-box__button.validate-form-button(type="submit") Зарегистрироваться