extends ../extend/default
block variables
    - var title = 'Barbers password recovery page';
    - var bodyClass = 'not-logged';
block main
    main(data-page="authorization")
        .wrapper
            section.sign-in
                h1.title Восстановите Ваш пароль
                form.authorization-box.password
                    .authorization-box__fields
                        label.form-input.user(data-validation="required", data-validation-type="email")
                            span.label-title Пожалуйста, введите Ваш email. Инструкция по восстановлению пароля будет выслана Вам на почту.
                            input.animatedPlaceholder(type="email", placeholder="Введите E-mail", name="user")
                            .error
                    button.authorization-box__button.validate-form-button(type="submit") Восстановить пароль
                .go-to-another-page
                    span Если Вы еще не зарегистрированы, нажмите на кнопку
                    a(href="#!") Зарегистрироваться