extends ../extend/default
block variables
    - var title = 'Barbers catalog page';
    - var bodyClass = 'logged';
    - var activeIndex = 1;
block main
    main(data-page="catalog")
        .wrapper.clearfix
            .catalog-filtersToggle Показать фильтр
            section.catalog-filters
                span.catalog-filters__title Фильтры для поиска нужного специалиста
                form.catalog-filters__form
                    label.catalog-filters__service.filter-box-container
                        span.catalog-filters__label-title Найдите нужную Вам услугу
                        input.animatedPlaceholder(type="text", name="serviceName", placeholder="Введите название услуги")
                    label.catalog-filters__price.filter-box-container.slider-filter
                        span.catalog-filters__label-title Цены на услуги (UAH, от и до)
                        input(name="price", data-min="100", data-max="10000", data-from="1500", data-to="8500")
                        i от
                        i до
                    .catalog-filters__categories.filter-box-container
                        span.catalog-filters__label-title Выберите интересующие Вас категории
                        mixin dropdown_categories_list(name, inputName)
                            .dropdown
                                .dropdown__title
                                    span.title #{name}
                                    span.selected Выбрано все
                                .dropdown__body
                                    .dropdown__body-inner
                                        label
                                            span Косметология тела
                                            input(type="checkbox", name= inputName, value="1", checked)
                                            .checkbox-placeholder: +svg('icon-check')
                                        label
                                            span Эпиляция
                                            input(type="checkbox", name= inputName, value="2", checked)
                                            .checkbox-placeholder: +svg('icon-check')
                                        label
                                            span Массаж
                                            input(type="checkbox", name= inputName, value="3", checked)
                                            .checkbox-placeholder: +svg('icon-check')
                                        label
                                            span Пирсинг
                                            input(type="checkbox", name= inputName, value="4", checked)
                                            .checkbox-placeholder: +svg('icon-check')
                                        label
                                            span Татуировки
                                            input(type="checkbox", name= inputName, value="5", checked)
                                            .checkbox-placeholder: +svg('icon-check')
                                        label
                                            span Депиляция
                                            input(type="checkbox", name= inputName, value="6", checked)
                                            .checkbox-placeholder: +svg('icon-check')
                        +dropdown_categories_list("Волосы", "hair")
                        +dropdown_categories_list("Тело", "body")
                        +dropdown_categories_list("Лицо", "face")
                        +dropdown_categories_list("Ногти", "nails")
                    .catalog-filters__tags.filter-box-container
                        span.catalog-filters__label-title Выберите теги
                        input.animatedPlaceholder(type="text", name="tagSearch", placeholder="Введите название тега")
                        .tag-container.example
                            .tag: span #Springmakeup
                            .tag: span #пудра
                            .tag: span #cosmetic
                    .catalog-filters__tags-selected.filter-box-container
                        span.catalog-filters__label-title Уже выбранные теги
                        .tag-container
                            .tag
                                span #Springmakeup
                                .close
                                    span
                                    span
                            .tag
                                span #помада
                                .close
                                    span
                                    span
                            .empty Не выбрано ни одного тега
                    .catalog-filters__sex.filter-box-container
                        span.catalog-filters__label-title Выберите пол специалиста
                        label.male
                            input(type="radio", name="sex", value="male", checked)
                            .button Мужской
                        label.female
                            input(type="radio", name="sex", value="female")
                            .button Женский
                    .catalog-filters__worktime.filter-box-container
                        label
                            span Работает в выходные дни
                            input(type="checkbox", name="workingWeekend", value="true", checked)
                            .checkbox-placeholder: +svg('icon-check')
                        label
                            span Возможен выезд на дом
                            input(type="checkbox", name="homeVisits", value="true", checked)
                            .checkbox-placeholder: +svg('icon-check')
                        label
                            span Работает круглосуточно
                            input(type="checkbox", name="workingTwentyFourHours", value="true")
                            .checkbox-placeholder: +svg('icon-check')
                    label.catalog-filters__experience.filter-box-container.slider-filter
                        span.catalog-filters__label-title Опыт работы (в годах, от и до)
                        input(name="experience", data-min="0", data-max="10", data-from="2", data-to="8")
                        i от
                        i до
                    label.catalog-filters__distance.filter-box-container
                        span.catalog-filters__label-title Расстояние от Вас к ближайшему специалисту
                        input(type="number", min="1")
                        i Введите значение в километрах, мастера выше этого значения показаны не будут
                    .catalog-filters__location.filter-box-container
                        span.catalog-filters__label-title Выберите адрес
                        label.useDefault
                            span Использовать адрес из анкеты
                            input(type="checkbox", name="useDefaultAddress", value="true")
                            .checkbox-placeholder: +svg('icon-check')
                        input.animatedPlaceholder(type="text", id="googleAddress", name="userLocation", placeholder="Введите Ваше месторасположение")
                        #map
            hr.catalog-separator
            section.catalog-list
                .catalog-list__title
                    h1 Результаты поиска
                    .catalog-list__title-panel
                        label.sortBy
                            span Сортировать:
                            .select-box.sortBy
                                select(name="sortBy")
                                    option(value="rating", selected) По рейтингу
                                    option(value="reviews") По отзывам
                                    option(value="price") По цене
                        span.catalog-list__products-shown Показано 10 из 2350
                .catalog-list__body
                    .inner-section.pull-left.list
                        .inner-section__item-container
                            mixin inner-section__item(img, name, city, comments, rating)
                                .inner-section__item.clearfix
                                    img.inner-section__item-logo(src= img)
                                    .flex-container.space-between.direction-column
                                        .top
                                            .inner-section__item-title #{name}
                                            .inner-section__item-labels
                                                .label.rating
                                                    .rating__number #{rating}
                                                    .rating__stars
                                                        div(style=`width: ${((rating * 10) * 2)}%`)
                                                .label.messages
                                                    +svg('icon-comment')
                                                    span #{comments}
                                                .label.location
                                                    +svg('icon-gps')
                                                    span #{city}
                                        .bottom
                                            .inner-section__item-services <b>Услуги:</b> Макияж, Укладка волос, Уход за бровями, Татуаж, Маникюр, Педикюр
                            +inner-section__item('pic/catalog-profile-image-1.png', 'Яна Панько', 'Киев', 26, '4.5')
                            +inner-section__item('pic/catalog-profile-image-2.png', 'Ксения Хоменко', 'Харьков', 221, '4.0')
                            +inner-section__item('pic/catalog-profile-image-3.png', 'Екатерина Беляева', 'Запорожье', '1,042', '5.0')
                            +inner-section__item('pic/catalog-profile-image-1.png', 'Яна Панько', 'Киев', 26, '4.5')
                            +inner-section__item('pic/catalog-profile-image-2.png', 'Ксения Хоменко', 'Харьков', 221, '4.0')
                            +inner-section__item('pic/catalog-profile-image-3.png', 'Екатерина Беляева', 'Запорожье', '1,042', '5.0')
                            +inner-section__item('pic/catalog-profile-image-1.png', 'Яна Панько', 'Киев', 26, '4.5')
                            +inner-section__item('pic/catalog-profile-image-1.png', 'Яна Панько', 'Киев', 26, '4.5')
                            +inner-section__item('pic/catalog-profile-image-2.png', 'Ксения Хоменко', 'Харьков', 221, '4.0')
                            +inner-section__item('pic/catalog-profile-image-3.png', 'Екатерина Беляева', 'Запорожье', '1,042', '5.0')
                            .new-items-loader
                                +preloader()
                        .inner-section__dots-container
                            .inner-section__dot.active(data-page-id="1") 1
                            .inner-section__dot(data-page-id="2") 2
                            .inner-section__dot(data-page-id="3") 3
                            .inner-section__dot(data-page-id="4") 4
