doctype html
html(lang='en')
    head
        meta(charset="utf8")
        meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=no")
        title Barbers
        style.
            @media (min-width: 1025px) {
                body {
                    display: flex;
                    justify-content: space-around;
                }
            }
            .linksContainer {
                display: inline-block;
                width: 300px;
                vertical-align: top;
            }
            .linksContainer a  {
                display: inline-block;
                height: 30px;
                width: 100%;
                line-height: 30px;
                color: black;
                text-decoration: none;
                transition: all .3s ease;
            }
            .linksContainer a:hover {
                background-color: rgba(0,0,0,.3);
                color: white;
                padding-left: 10px;
            }
            @media (min-width: 1024px) {
                .linksContainer {
                    margin-left: 20px;
                    margin-right: 20px;
                }
            }
    body
        .linksContainer
            h2 Основные страницы сайта
            a(href="./main.html") Главная страница
            a(href="./authorization_signup.html") Регистрация
            a(href="./authorization_signin.html") Авторизация
            a(href="./authorization_password.html") Восстановление пароля
            a(href="./catalog_masters.html") Каталог мастеров
            a(href="./catalog_saloon.html") Каталог салонов
            a(href="./catalog_search.html") Результаты поиска