extends ../extend/default
block variables
    - var title = 'Barbers main page';
    - var bodyClass = 'logged';
block main
    main(data-page="main")
        section.first-screen
            img.background-pic(src="img/main-bg.png")
            .wrapper
                .main-search__container
                    form.main-search__form(method="get", action="catalog_search.html")
                        .white_bubble.first.left
                        .white_bubble.second.left
                        .white_bubble.third.left
                        .white_bubble.fourth.left
                        .white_bubble.fifth.right
                        .white_bubble.sixth.right
                        .white_bubble.seventh.right
                        label
                            span Найдите интересующие вас услуги через поиск:
                            input.animatedPlaceholder(type="text", placeholder="Введите название услуги в это поле")
                        button(type="submit") Искать
                        a(href="#!") Расширенный поиск
        section.second-screen
            .wrapper
                .info-block
                    span 2 350
                    span Мастеров
                .info-block
                    span 10 600
                    span Заказов через сайт
                .info-block
                    span 555
                    span Салонов
        section.third-screen
            .wrapper
                .info-title
                    h3 Наши услуги
                    span Перечень всех наших услуг по категориям
                .info-block-container
                    .info-block
                        span Волосы
                        a(href="#!") Прически
                        a(href="#!") Окрашивание волос
                        a(href="#!") Наращивание волос
                        a(href="#!") Уход за волосами
                        a(href="#!") Завивка выпрямление
                        a(href="#!") Укладка волос
                        a(href="#!") Стрижка
                    .info-block
                        span Лицо
                        a(href="#!") Косметология тела
                        a(href="#!") Эпиляция
                        a(href="#!") Массаж
                        a(href="#!") Пирсинг
                        a(href="#!") Татуировки
                        a(href="#!") Депиляция
                    .info-block
                        span Ногти
                        a(href="#!") Макияж
                        a(href="#!") Татуаж
                        a(href="#!") Уход за бровями
                        a(href="#!") Наращивание ресниц
                        a(href="#!") Косметология лица
                    .info-block
                        span Тело
                        a(href="#!") Наращивание ногтей
                        a(href="#!") Уход за ногтями
                        a(href="#!") Дизайн ногтей
                        a(href="#!") Маникюр
                        a(href="#!") Педикюр
        section.fourth-screen
            .wrapper
                .inner-section.pull-left.just-joined
                    .title Недавно присоединились
                    .inner-section__item-container
                        .inner-section__item
                            .inner-section__item-title JETCHARM Barbershop
                            .inner-section__item-logo
                                .inline-middle.full-height
                                img(src="pic/main-logo-1.png")
                            .inner-section__item-labels
                                .label.services
                                    +svg('icon-scissors')
                                    span Прически, Стрижка, остальной длинный текст
                                .label.location
                                    +svg('icon-gps')
                                    span Киев, Украина
                            a.inner-section__item-button(href="#!")
                                span Подробнее
                                .icon-arrow
                        .inner-section__item
                            .inner-section__item-title MADISON STREET BARBERS
                            .inner-section__item-logo
                                .inline-middle.full-height
                                img(src="pic/main-logo-2.png")
                            .inner-section__item-labels
                                .label.services
                                    +svg('icon-scissors')
                                    span Стрижка, Укладка волос
                                .label.location
                                    +svg('icon-gps')
                                    span Москва, Россия
                            a.inner-section__item-button(href="#!")
                                span Подробнее
                                .icon-arrow
                        .inner-section__item
                            .inner-section__item-title HAIR BATTLE TOUR
                            .inner-section__item-logo
                                .inline-middle.full-height
                                img(src="pic/main-logo-3.png")
                            .inner-section__item-labels
                                .label.services
                                    +svg('icon-scissors')
                                    span Прически
                                .label.location
                                    +svg('icon-gps')
                                    span Киев, Украина
                            a.inner-section__item-button(href="#!")
                                span Подробнее
                                .icon-arrow
                        .new-items-loader
                            +preloader()
                    .inner-section__dots-container
                        .inner-section__dot.active(data-page-id="1") 1
                        .inner-section__dot(data-page-id="2") 2
                        .inner-section__dot(data-page-id="3") 3
                        .inner-section__dot(data-page-id="4") 4
                .inner-section.pull-right.masters-and-services
                    .title Мастера и услуги
                    .inner-section__card-container.owl-carousel.owl-theme
                        - var i = 1;
                        - for (i; i<6; i++) {
                            .inner-section__card
                                .inner-section__card-head
                                    img.image(src="pic/main-master-1.png")
                                    .title
                                        .name Яна Панько#{i}
                                    .label.services
                                        +svg('icon-scissors')
                                        span Стрижка, Укладка волос
                                    .label.location
                                        +svg('icon-gps')
                                        span Москва, Россия
                                .inner-section__card-body
                                    span Закончила школу визажа "S&A group". Работа с журналом: «Your Hair». В качестве гримера сотрудничаю с телеканалом «1+1», мои проекты: Битва салонов, Битва ресторанов.
                                a.inner-section__card-button(href="#!") Просмотреть профиль мастера
                        - }
        section.fifth-screen
            .wrapper
                .info-title
                    h3 Отзывы
                    span Отзывы о работе салонов и мастеров от наших пользователей
                .reviews-container.owl-carousel.owl-theme.theme-absolute
                    mixin review(who, forWho, text, pic)
                        .review
                            .review__body
                                .review__body-title
                                    span #{who} для
                                    a(href="#!") #{forWho}
                                .review__body-text #{text}
                            .review__author
                                img(src= pic)
                    +review('Елена', 'Татьяна Березовская', 'Три раза я обращалась к услугам Татьяны и Кристины,и с каждым разом все больше и больше довольная уходила от них) очень рекомендую их как на свадебные причёска и макияж,так и просто на любое мероприятие)', 'pic/review-1.png')
                    +review('Вероника', 'ROB ROY hair salon', 'Спасибо ROB ROY HAIR SALON за макияж, брови и отличное настроение) Очень-очень быстро и качественно) Довольна просто всем, прекрасная студия в которой работают профессионалы))', 'pic/review-2.png')
                    +review('Александра', 'Елена Чижова', 'Три раза я обращалась к услугам Татьяны и Кристины,и с каждым разом все больше и больше довольная уходила от них) очень рекомендую их как на свадебные причёска и макияж,так и просто на любое мероприятие)', 'pic/review-3.png')
                    +review('Елена4', 'Тест 4', 'Три раза я обращалась к услугам Татьяны и Кристины,и с каждым разом все больше и больше довольная уходила от них) очень рекомендую их как на свадебные причёска и макияж,так и просто на любое мероприятие)', 'pic/review-1.png')
                    +review('Елена5', 'Тест 5', 'Три раза я обращалась к услугам Татьяны и Кристины,и с каждым разом все больше и больше довольная уходила от них) очень рекомендую их как на свадебные причёска и макияж,так и просто на любое мероприятие)', 'pic/review-3.png')
                    +review('Елена6', 'Тест 6', 'Три раза я обращалась к услугам Татьяны и Кристины,и с каждым разом все больше и больше довольная уходила от них) очень рекомендую их как на свадебные причёска и макияж,так и просто на любое мероприятие)', 'pic/review-2.png')
        section.sixth-screen
            .wrapper
                .info-title
                    h3 Свежие акции
                .sales-container.owl-carousel.owl-theme.theme-absolute
                    mixin sale(img, title, text)
                        .sale
                            a.sale__logo(href="#!")
                                img(src=img)
                            .sale__title #{title}
                            .sale__text #{text}
                    .sale
                        a.sale__logo(href="#!")
                            img(src="pic/sales-1.png")
                        .sale__title Акция! Весенняя скидка -30% на макияж от Ксении Украинской!
                        .sale__text -30% скидка от общей цены 300 грн. Стоимость макияжа с учетом скидки составляет 210 грн! <br><br> Акция действует до 15 апреля 2016 г.
                    +sale("pic/sales-2.png", 'Выиграй пудру, тени и и водостойкий лайнер для губ ТМ Freshminerals', 'Условия конкурса: <br> Лайкни картинку ниже, обязательно там же нажми «Рассказать друзьям» и ты станешь участником конкурса! Конкурс заканчивается ...')
                    +sale("pic/sales-3.png", 'Всем кто придет на тренинг, косметика ТМ VG professional!', 'Компания ТМ  VG professional вместе с компанией MaxWoman.ua запускает конкурс. <br> Условия смотрите внутри.')
                    +sale("pic/sales-1.png", 'Акция! - 1 Весенняя скидка -30% на макияж от Ксении Украинской!', '-30% скидка от общей цены 300 грн. Стоимость макияжа с учетом скидки составляет 210 грн! <br><br> Акция действует до 15 апреля 2016 г.')
                    +sale("pic/sales-3.png", 'Акция! - 2 Весенняя скидка -30% на макияж от Ксении Украинской!', '-30% скидка от общей цены 300 грн. Стоимость макияжа с учетом скидки составляет 210 грн! <br><br> Акция действует до 15 апреля 2016 г.')
                    +sale("pic/sales-2.png", 'Акция! - 3 Весенняя скидка -30% на макияж от Ксении Украинской!', '-30% скидка от общей цены 300 грн. Стоимость макияжа с учетом скидки составляет 210 грн! <br><br> Акция действует до 15 апреля 2016 г.')
        section.seventh-screen
            .wrapper
                .partners-container.owl-carousel.owl-theme
                    a(href="#!"): img(src="pic/partner-1.png")
                    a(href="#!"): img(src="pic/partner-2.png")
                    a(href="#!"): img(src="pic/partner-3.png")
                    a(href="#!"): img(src="pic/partner-4.png")
                    a(href="#!"): img(src="pic/partner-5.png")
