[data-page="authorization"] {
  background-color: #41586e

  padding: 50px 0

  box-sizing: border-box

  text-align: center

  .title {
    margin: 0

    font-size: 28px
    font-family: HelvMedium
    color: white
    font-weight: normal
    letter-spacing: 1px
  }

  @media (max-width: main-S - 1px) {
    .wrapper {
      padding: 0
    }
  }
}

.authorization-box {
  display: inline-block

  setWH(400px, auto)

  margin-top: 55px

  padding: 20px

  border-radius: 3px
  border: 1px solid #e1e1e1

  background-color: #ffffff

  text-align: left

  @media (max-width: main-S - 1px) {
    width: 100%

    border-radius: 0

    padding: 20px 15px
  }

  &.signup {
    .form-input.captcha {
      .error {
        padding-left: 130px
      }
    }
    .authorization-box__head {
      margin-bottom: 10px

      label {
        display: inline-block
        position: relative

        margin-bottom: 10px

        width: calc((100% - 10px) / 2)

        &.user {
          width: 100%
        }
        &.saloon {
          @media (min-width: main-S) {
            margin-left: 10px
          }
        }

        @media (max-width: main-S - 1px) {
          &.saloon, &.specialist {
            width: 100%
          }
        }
      }
      input {
        position: absolute

        left: 0
        top: 0

        setWH(100%)

        z-index: -1
      }
      .button {
        setWH(100%, 40px)

        border-radius: 3px

        border: 2px solid main-color

        color: main-color

        cursor: pointer

        transition: all main-ease-time ease

        line-height: 40px

        text-align: center

        &:hover {
          color: white

          background-color: main-color
        }
      }
      input:checked + .button {
        color: white

        background-color: main-color
      }
    }
  }

  &.signin {
    .authorization-box__head {
      text-align: center

      margin-bottom: 20px

      .greytext {
        color: #b4b8ba
        font-family: HelvBold
        font-size: 15px
      }

      .social_auth {
        margin-top: 18px
        margin-bottom: 24px

        display: flex
        justify-content: space-between

        > div {
          setWH(75px, 40px)

          border-radius: 3px

          cursor: pointer

          text-align: center

          transition: background-color main-ease-time ease

          @media (max-width: main-S - 1px) {
            border-radius: 0
          }

          svg {
            margin-top: 13px
          }

          &.facebook {
            background-color: #45549a

            &:hover {
              background-color: #2e3b75
            }

            svg {
              setWH(8px, 15px)
            }
          }

          &.vkontakte {
            background-color: #7a92b7

            &:hover {
              background-color: #556886
            }

            svg {
              setWH(24px, 14px)
            }
          }

          &.twitter {
            background-color: #55acee

            &:hover {
              background-color: #3b7cad
            }

            svg {
              setWH(18px, 15px)
            }
          }

          &.linkedin {
            background-color: #4875b4

            &:hover {
              background-color: #335482
            }

            svg {
              setWH(16px, 15px)
            }
          }
        }

        svg {
          display: inline-block
          fill: white
        }
      }
    }
  }

  &.password {
    .label-title {
      margin-bottom: 15px
    }
    .authorization-box__button {
      margin-top: 20px
    }
  }
}

.authorization-box__fields {
  label {
    display: inline-block
    width: 100%

    &:not(:first-of-type) {
      margin-top: 20px
    }

    .label-title {
      display: inline-block
      vertical-align: top

      margin-bottom: 10px

      width: 100%

      color: #b4b8ba
      font-family: HelvBold
      font-size: 15px
    }

    input {
      vertical-align: top

      setWH(100%, 40px)

      padding: 6px 12px

      border-radius: 3px
      border: 1px solid #e1e1e1
    }

    &.captcha {
      img.captcha {
        setWH(120px, 40px)
      }
      input {
        width: calc(100% - 130px)

        margin-left: 10px
      }
    }
  }
}

.authorization-box__button {
  display: inline-block

  setWH(100%, 40px)

  margin-top: 25px

  border-radius: 3px
  background-color: main-green

  color: white

  font-family: HelvBold
  font-size: 13px

  transition: background-color main-ease-time ease

  &:hover {
    background-color: #48803c
  }
}

.authorization-box__remember-me {
  margin-top: 25px

  label {
    display: block
    float: left

    position: relative

    cursor: pointer

    > span {
      float: left
      margin-left: 30px
      margin-top: 3px

      color: #b4b8ba
      font-family: HelvMedium
      font-size: 13px
    }

    input {
      position: absolute

      left: 0
      top: 0

      setWH(100%)

      z-index: -1
    }
  }

  a {
    float: right

    margin-top: 3px

    color: #515861
    font-family: HelvMedium
    font-size: 13px

    &:hover {
      text-decoration: underline
    }
  }
}

.go-to-another-page {
  width: 370px

  margin: 0 auto

  margin-top: 16px

  @media (max-width: main-S - 1px) {
    width: calc(100% - 30px)

    margin-left: 15px
    margin-top: 40px
  }

  span {
    color: #839aad
    font-family: HelvMedium
    font-size: 15px
  }

  a {
    display: inline-block

    margin-top: 16px

    setWH(100%, 40px)

    border-radius: 3px
    border: 1px solid #ffffff

    transition: all main-ease-time ease

    color: white
    line-height: 40px

    &:hover {
      background-color: white

      color: #41586e
    }
  }
}