[data-page="catalog"] {
  background-color: #f5f5f5
  margin-bottom: -2px

  .wrapper {
    position: relative
  }

  .catalog-separator {
    position: absolute

    setWH(1px, 100%)

    top: 0
    left: 790px

    @media (min-width: main-M) and (max-width: 1349px) {
      left: 635px
    }

    @media (max-width: main-M - 1px) {
      display: none
    }

    border: none

    background: #e1e1e1

    margin: 0
  }

  h1 {
    display: inline-block

    color: main-color
    font-family: HelvMedium
    font-size: 28px

    margin: 0

    @media (max-width: main-S - 1px) {
      width: 100%

      text-align: center
    }
  }

  .catalog-filtersToggle {
    display: none

    @media (max-width: main-M - 1px) {

      display: block

      setWH(100%, 35px)

      margin-top: 30px

      border: 2px solid main-color
      border-radius: 3px

      color: main-color
      line-height: 32px
      text-align: center

      box-sizing: border-box

      &:active {
        color: white
        background-color: main-color
      }
    }
  }

  section {
    padding-top: 50px
    padding-bottom: 50px
  }

  section.catalog-list {
    float: left

    padding-left: 25px
    padding-right: 25px

    width: 790px

    box-sizing: border-box

    @media (min-width: main-M) and (max-width: 1349px) {
      width: 635px
    }

    @media (max-width: main-M - 1px) {
      width: 100%
    }

    @media (max-width: main-S - 1px) {
      padding-left: 0
      padding-right: 0

      padding-top: 25px
    }
  }

  section.catalog-filters {
    float: right

    padding-left: 25px

    width: 360px

    box-sizing: border-box

    @media (min-width: main-M) and (max-width: 1349px) {
      width: 300px
    }

    @media (max-width: main-M - 1px) {
      width: 100%

      padding-right: 25px
      padding-top: 25px

      padding-bottom: 0

      display: none
    }

    @media (max-width: main-S - 1px) {
      padding-left: 0
      padding-right: 0
    }
  }

  // ITEMS
  .inner-section__item {
    background-color: white

    padding: 20px

    @media (max-width: main-M - 1px) and (min-width: main-S) {
      display: inline-block
      vertical-align: top

      width: calc(50% - 10px)
      height: 166px

      &:nth-child(even) {
        margin-left: 20px
      }

      margin-top: 10px
    }

    @media (min-width: main-M) {
      &:not(:first-child) {
        margin-top: 10px
      }
    }

    @media (max-width: main-S - 1px) {
      display: inline-block
      vertical-align: top

      width: calc(100% + 30px)
      margin-left: -15px

      height: 166px

      margin-top: 10px

      border-left: none
      border-right: none

      border-radius: 0
    }

    .inner-section__item-logo {
      float: left

      margin-right: 20px
    }

    .inner-section__item-title,
    .inner-section__item-labels {
      display: inline-block
      vertical-align: middle
    }

    .inner-section__item-title {
      margin-right: 20px

      @media (max-width: main-M - 1px) {
        width: 100%

        margin: 0
      }
    }

    .inner-section__item-labels {
      @media (max-width: main-M - 1px) {
        padding-top: 12px
      }
    }

    .inner-section__item-services {
      max-width: 320px

      font-family: HelvMedium
      font-size: 13px
      line-height: 20px
      color: #a1a6a9

      b {
        color: #3e454c
      }

      @media (max-width: main-M - 1px) {
        position: absolute

        max-width: none

        width: calc(100% - 40px)

        max-height: 40px
        overflow: hidden

        left: 20px
        bottom: 13px
      }
    }

    .label {
      &.location {
        float: left

        @media (max-width: main-M - 1px) {
          float: none
        }
      }
      &.messages {
        float: right

        margin-left: 15px

        @media (max-width: main-M - 1px) {
          float: none

          margin-left: 0
          margin-right: 15px
        }
      }
      &.rating {
        @media (min-width: main-M) {
          position: absolute

          right: 20px
          top: 23px
        }

        @media (max-width: main-M - 1px) {
          float: none

          margin-right: 15px
          margin-bottom: 10px
        }
      }
    }

    .flex-container {
      height: 74px

      @media (max-width: main-M - 1px) {
        float: left
        display: block

        width: calc(100% - 94px)
      }
    }
  }
}

.catalog-list__title,
.catalog-list__body {
  display: inline-block
  vertical-align: top

  width: 100%
}

.catalog-list__title {
  label.sortBy {
    span {
      color: #b9bdc0
      font-family: HelvMedium
      font-size: 13px
    }
    .select-box {
      display: inline-block

      margin-left: 10px

      setWH(115px, 30px)

      border: 1px solid #e3e3e3
      border-radius: 3px

      background: white

      @media (max-width: main-S - 1px) {
        width: calc(100% - 96px)
      }

      &:before {
        content: ''

        position: absolute

        bottom: 8px
        left: 8px

        triangle-top(4px, #a1a6a9)

        border-top-width: 5px
      }

      &:after {
        content: ''

        position: absolute

        top: 8px
        left: 8px

        triangle-bottom(4px, #a1a6a9)

        border-bottom-width: 5px
      }

      select {
        padding-left: 25px

        color: main-color
        font-size: 13px
        font-family: HelvMedium
      }
    }
  }
}

.catalog-list__products-shown {
  display: inline-block

  margin-left: 20px

  color: main-color
  font-family: HelvMedium
  font-size: 13px

  @media (max-width: 1349px) {
    display: none
  }
}

.catalog-list__title-panel {
  float: right

  margin-top: 4px

  @media (max-width: main-S - 1px) {
    width: 100%

    margin-top: 25px
  }
}

.catalog-list__body {
  margin-top: 20px

  .inner-section {
    width: 100%
  }
}

.catalog-filters__title {
  display: inline-block

  width: 100%

  margin-top: 12px
  margin-bottom: 26px

  font-size: 13px
  font-family: HelvMedium
  color: #b9bdc0
}

.catalog-filters__label-title {
  display: inline-block

  width: 100%

  margin-bottom: 20px

  font-size: 13px
  font-family: HelvBold
  color: main-color
}

.filter-box-container {
  display: inline-block
  width: 100%

  &:not(:first-child) {
    margin-top: 30px
  }

  input[type='text'], input[type='number'] {
    display: inline-block

    setWH(100%, 40px)

    padding-left: 15px

    border: 1px solid #e3e3e3
    border-radius: 3px

    background: white

    setPlaceholderColor(#babec1)
  }
}

.slider-filter {
  position: relative

  span.label-title {
    margin-bottom: 25px
  }

  input {
    position: absolute!important;
    display: block!important;
    top: 0!important;
    left: 0!important;
    width: 0!important;
    height: 0!important;
    font-size: 0!important;
    line-height: 0!important;
    padding: 0!important;
    margin: 0!important;
    overflow: hidden;
    outline: none!important;
    z-index: -9999!important;
    background: none!important;
    border-style: solid!important;
    border-color: transparent!important;
  }

  > .irs {
    width: calc(100% - 50px)
    margin-left: 25px
  }

  i {
    position: absolute

    top: 34px

    color: #bec2c5

    font-style: normal

    &:first-of-type {
      left: 0
    }

    &:last-of-type {
      right: 0
    }
  }
}

.catalog-filters__categories {
  label {
    cursor: pointer
    display: inline-block
    position: relative
    width: 100%

    &:not(:first-child) {
      margin-top: 10px
    }

    > span {
      display: inline-block

      margin-top: 3px
      margin-left: 8px

      color: main-color
    }
  }

  input {
    position: absolute

    left: 0
    top: 0

    setWH(100%)

    z-index: -1

    opacity: 0
  }

  .checkbox-placeholder {
    float: left
  }

  .dropdown {
    display: inline-block

    setWH(100%, 40px)

    border: 1px solid #e3e3e3
    border-radius: 3px

    background: #f5f5f5

    &:not(:last-child) {
      margin-bottom: 10px
    }
  }

  .dropdown__title {
    position: relative

    padding-left: 15px
    padding-right: 35px
    padding-top: 12px

    &:after {
      content: ''

      position: absolute

      top: 17px
      right: 15px

      triangle-top(4px, #a1a6a9)

      border-top-width: 5px

      transition: all main-ease-time ease
    }

    .title {
      float: left
    }

    .selected {
      float: right
    }

    span {
      color: #a1a6a9

      transition: color main-ease-time ease
    }
  }

  .dropdown__body {
    width: calc(100% + 2px)

    left: -1px
    top: calc(100% + 1px)

    transform: translateY(-3px)
  }

  .dropdown__body-inner {
    border: 1px solid #e3e3e3
    border-radius: 0 0 3px 3px
    border-top: none

    padding: 15px

    background: #f5f5f5
  }

  .dropdown.active {
    border-radius: 3px 3px 0 0

    .dropdown__title {
      span {
        color: main-color
      }

      &:after {
        border-top-color: main-color

        transform: rotate(180deg)
      }
    }
  }
}

.catalog-filters__tags {
  .easy-autocomplete {
    width: 100%!important
  }
}

.catalog-filters__tags-selected {
  margin-top: 20px!important

  .catalog-filters__label-title {
    color: #a1a6a9

    margin-bottom: 0
  }
}

.catalog-filters__sex {
  margin-top: 50px!important

  .catalog-filters__label-title {
    vertical-align: top

    margin-top: 6px

    width: 100px

    margin-bottom: 0

    margin-right: 25px
  }

  label {
    position: relative

    &.female {
      margin-left: 10px
    }
  }
  input {
    position: absolute

    left: 0
    top: 0

    setWH(100%)

    z-index: -1
  }
  .button {
    display: inline-block

    setWH(calc((100% - 135px) / 2), 40px)

    border-radius: 3px

    border: 2px solid main-color

    color: main-color

    cursor: pointer

    transition: all main-ease-time ease

    line-height: 40px

    text-align: center

    &:hover {
      color: white

      background-color: main-color
    }
  }
  input:checked + .button {
    color: white

    background-color: main-color
  }
}

.catalog-filters__worktime {
  margin-top: 50px!important

  label {
    cursor: pointer
    display: inline-block
    position: relative
    width: 100%

    &:not(:first-child) {
      margin-top: 10px
    }

    > span {
      display: inline-block

      margin-top: 3px
      margin-left: 8px

      color: main-color
    }
  }

  input {
    position: absolute

    left: 0
    top: 0

    setWH(100%)

    z-index: -1

    opacity: 0
  }

  .checkbox-placeholder {
    float: left
  }
}

.catalog-filters__experience {
  margin-top: 50px!important
}

.catalog-filters__distance {
  input[type="number"] {
    width: 55px

    padding-left: 10px
    padding-right: 10px

    margin-right: 10px
  }

  i {
    display: inline-block
    vertical-align: top

    width: 270px
    margin-top: 6px

    font-style: normal
    color: #b9bdc0
  }

  @media (max-width: 1349px) and (min-width: 1024px), (max-width: 370px) {
    input {
      margin-top: 7px
    }
    i {
      width: 205px

      margin-top: 0
    }
  }
}

.catalog-filters__location {
  .catalog-filters__label-title {
    margin-bottom: 15px
  }

  label.useDefault {
    cursor: pointer
    display: inline-block
    position: relative
    width: 100%

    margin-bottom: 15px

    > span {
      display: inline-block

      margin-top: 3px
      margin-left: 8px

      color: main-color
    }

    input {
      position: absolute

      left: 0
      top: 0

      setWH(100%)

      z-index: -1

      opacity: 0
    }

    .checkbox-placeholder {
      float: left
    }
  }

  #map {
    setWH(100%, 230px)

    margin-top: 30px

    border: 1px solid #e3e3e3
    border-radius: 3px
  }
}

body.filters-opened {
  .catalog-filtersToggle {
    color: white
    background: main-color
  }
  .catalog-filters {
    display: block
  }
}