// owl carousel re-style
[data-page="main"] {
  // dots
  .owl-dots {
    margin-top: 47px!important

    display: flex
    align-items: center
    justify-content: center

    .owl-dot {
      setWH(16px)

      transition: none

      border-radius: 50%

      border: 2px solid transparent

      span {
        setWH(100%!important)

        margin: 0

        background-color: #e1e1e1

        transition: none
      }

      &:not(:first-child) {
        margin-left: 10px
      }

      &.active {
        border: 2px solid main-color-dark

        span {
          transform: scale(0)
        }
      }


      &:hover {
        @media screen and (min-width: 1281px) {
          border: 2px solid main-color-dark

          span {
            transform: scale(0)
          }
        }
      }
    }
  }

  // buttons
  .owl-nav {
    margin-top: 40px

    .arrow {
      display: inline-block

      setWH(13px)

      margin-top: 3px

      border-right: 3px solid #e1e1e1
      border-bottom: 3px solid #e1e1e1

      transition: all main-ease-time ease
    }
    .owl-prev,
    .owl-next {
      setWH(40px, 30px)

      border: 2px solid #e1e1e1

      margin: 0

      border-radius: 3px
      background-color: transparent

      transition: all main-ease-time ease

      &:hover {
        background-color: main-color
        border-color: main-color

        .arrow {
          border-color: white
        }
      }
    }
    .owl-prev {
      float: left

      .arrow {
        transform: rotate(135deg)

        margin-left: 5px
      }
    }
    .owl-next {
      float: right

      .arrow {
        transform: rotate(-45deg)

        margin-left: -5px
      }
    }
  }

  // styles for reviews and sales sliders
  .theme-absolute {
    .owl-nav {
      position: relative
      margin: 0

      .owl-prev, .owl-next {
        position: absolute

        z-index: 1

        bottom: 160px
      }

      .owl-prev {
        left: -65px
      }
      .owl-next {
        right: -65px
      }
    }
  }
}

.first-screen {
  position: relative

  background: url(../img/main-bg.png) no-repeat
  background-size: cover

  @media (min-width: main-M) {
    height: 540px

    overflow: hidden
  }

  @media (max-width: main-M - 1px) and (min-width: main-S) {
    height: 240px
  }

  @media (max-width: main-M - 1px) {
    background: none

    margin-bottom: 220px
  }

  .background-pic {
    display: none

    @media (max-width: main-M - 1px) {
      display: inline-block

      width: 100%

      height: auto
    }
  }

  .main-search__container {
    position: absolute

    bottom: 0
    left: 50%

    margin-left: -350px

    setWH(700px, 220px)

    background: white

    border-radius: 10px 10px 0 0

    @media (max-width: main-M - 1px) {
      width: 100%

      left: 0

      margin-left: 0

      border-radius: 0

      bottom: auto

      top: 100%
    }

    @media (max-width: main-S - 1px) {
      margin-top: -20px

      height: 240px
    }
  }

  .main-search__form {
    position: relative
    display: inline-block

    setWH(100%)

    padding: 27px 30px 0 30px

    span {
      display: inline-block

      width: 100%

      color: main-color
      font-family: HelvBold
      font-size: 15px
    }

    input {
      setWH(100%, 40px)

      border-radius: 3px
      border: 1px solid #e1e1e1

      margin-top: 10px

      color: main-color

      box-shadow: none
    }

    button {
      setWH(100%, 50px)

      border-radius: 100px
      background-color: main-color

      margin-top: 25px

      color: white
      font-family: HelvBold
      font-size: 17px

      transition: background-color main-ease-time ease

      &:hover {
        background-color: main-color-dark
      }
    }

    a {
      display: inline-block

      width: 100%

      margin-top: 35px

      text-align: center
      color: main-color
      font-family: HelvMedium
      font-size: 13px

      &:hover {
        text-decoration: underline
      }
    }
  }

  .white_bubble {
    position: absolute

    background: white

    border-radius: 50%

    z-index: 1

    bottom: 0

    @media (max-width: main-M - 1px) {
      display: none
    }

    &.right {
      left: 100%
    }

    &.left {
      right: 100%
    }

    &.first {
      setWH(87px)

      margin-right: 152px
      margin-bottom: -53px
    }

    &.second {
      setWH(165px)

      margin-right: 31px
      margin-bottom: -57px
    }

    &.third {
      setWH(87px)

      margin-right: -28px
      margin-bottom: -28px
    }

    &.fourth {
      setWH(16px)

      margin-right: 16px
      margin-bottom: 74px
    }

    &.fifth {
      setWH(76px)

      margin-left: 149px
      margin-bottom: -37px
    }

    &.sixth {
      setWH(160px)

      margin-left: 23px
      margin-bottom: -53px
    }

    &.seventh {
      setWH(80px)

      margin-left: -31px
      margin-bottom: -21px
    }
  }

  .easy-autocomplete-container {
    a {
      display: inline-block
      width: auto
      padding: 10px 0
      font-family: HelvMedium
      font-size: 13px
      text-align: left
      margin-top: 0
      letter-spacing: 0.5px

      color: #a1a6a9

      b {
        color: main-black
        font-weight: normal
      }
      .selected & {
        color: main-color
      }
    }
  }
}

.second-screen {
  background-color: white

  height: 226px

  box-shadow: 0 1px 0 #e1e1e1

  @media (max-width: main-M - 1px) {
    height: 140px
  }

  @media (max-width: main-S - 1px) {
    height: auto
  }

  .wrapper {
    @media (min-width: main-S) {
      display: flex
      align-items: center
      justify-content: space-around
    }
  }

  .info-block {
    text-align: center

    @media (max-width: main-S - 1px) {
      width: 100%

      margin-top: 45px

      &:last-child {
        margin-bottom: 60px
      }
    }

    span {
      display: inline-block
      width: 100%
      font-family: HelvBold

      &:first-of-type {
        color: main-color
        font-size: 34px
        letter-spacing: 1px
      }
      &:last-of-type {
        color: #a1a6a9
        font-size: 18px

        margin-top: 10px
      }
    }
  }
}

.third-screen {
  height: 520px

  background-color: whitesmoke

  box-shadow: 0 1px 0 #e1e1e1

  @media (max-width: main-M - 1px) {
    height: auto
  }

  span {
    display: inline-block
    cursor: default
  }

  .info-title {
    width: 100%

    text-align: center

    margin-top: 60px

    h3 {
      margin: 0
      color: main-color
      font-family: HelvBold
      font-size: 34px
      cursor: default
    }

    span {
      margin-top: 15px

      color: #b9bdc0
      font-family: HelvMedium
      font-size: 15px
    }
  }

  .info-block-container {
    display: flex
    justify-content: space-between

    margin-top: 80px

    @media (max-width: main-M - 1px) {
      margin-top: 60px

      padding: 0 15% 15px

      justify-content: space-around

      flex-wrap: wrap
    }

    @media (max-width: main-S - 1px) {
      display: block
      padding: 0 0 20px 0
    }
  }

  .info-block {
    max-width: 175px

    @media (max-width: main-M - 1px) {
      margin-bottom: 45px
    }

    @media (max-width: main-S - 1px) {
      margin-left: auto
      margin-right: auto
      text-align: center
    }

    span {
      margin-bottom: 20px

      color: main-color
      font-family: HelvBold
      font-size: 28px
    }
    a {
      display: inline-block
      width: 100%

      &:not(:first-of-type) {
        margin-top: 10px
      }

      color: #a1a6a9
      font-family: HelvMedium
      font-size: 15px

      transition: color main-ease-time ease

      &:hover {
        color: main-color
      }
    }
  }
}

.fourth-screen {
  height: auto

  background-color: white

  padding-bottom: 70px

  .inner-section {
    > .title {
      display: inline-block

      width: 100%

      margin-top: 65px
      margin-bottom: 40px

      color: main-color
      font-family: HelvMedium
      font-size: 28px
    }
  }

  .inner-section__item {
    width: 640px

    &:not(:first-child) {
      margin-top: 10px
    }

    @media (min-width: main-S) {
      padding-left: 110px
      padding-top: 20px
      padding-bottom: 20px
      padding-right: 140px
    }

    @media (max-width: 1349px) {
      width: 550px

      padding-right: 60px
    }

    @media (max-width: main-M - 1px) {
      width: 100%
    }

    @media (max-width: main-S - 1px) {
      display: inline-block

      padding: 0

      text-align: center

      padding-bottom: 23px
    }
  }

  .inner-section__item-title {
    @media (max-width: main-S - 1px) {
      margin-top: 20px
      margin-bottom: 13px
    }
  }

  .inner-section__item-logo {
    text-align: center

    img {
      display: inline-block
      vertical-align: middle

      max-width: 90%
    }

    @media (min-width: main-S) {
      position: absolute

      setWH(110px, 100%)

      left: 0
      top: 0
    }

    @media (max-width: main-S - 1px) {
      display: inline-block
      float: left
      width: 35%
      height: 45px
    }
  }

  .inner-section__item-labels {
    margin-top: 11px

    @media (max-width: main-S - 1px) {
      float: right

      width: 65%

      margin: 0
    }

    .label {
      &.services {
        span {
          max-width: 160px
        }
      }
      &.location {
        margin-left: 19px

        @media (max-width: main-S - 1px) {
          margin-left: 0
        }
      }

      @media (max-width: main-S - 1px) {
        width: 100%

        text-align: left

        margin-right: 0

        padding-right: 5px

        &:last-child {
          margin-top: 13px

          svg {
            margin-left: 5px
          }
        }

        span {
          max-width: 100%

          overflow: hidden
          white-space: nowrap
          text-overflow: ellipsis
        }
      }
    }
  }

  .inner-section__item-button {
    position: absolute

    top: 25px
    right: 20px

    setWH(120px, 40px)

    border-radius: 3px

    @media (max-width: 1349px) {
      width: 40px
    }

    @media (max-width: main-S - 1px) {
      display: none
    }

    span {
      display: inline-block
      vertical-align: middle
      height: 100%
      line-height: 40px
    }

    @media (max-width: 1349px) {
      span {
        display: none
      }
      .icon-arrow {
        display: inline-block

        margin-top: 13px
        margin-left: -5px

        transform: rotate(-45deg)

        setWH(15px)

        border-right: 4px solid white
        border-bottom: 4px solid white
      }
    }
  }

  .inner-section {
    @media (max-width: 1023px) {
      width: 100%

      padding: 0 40px

      .title {
        text-align: center
      }
    }
    @media (max-width: main-S - 1px) {
      padding: 0
    }

    .title {
      @media (max-width: main-M - 1px) and (min-width: main-S) {
        padding-top: 17px
      }
    }
  }

  .masters-and-services {
    width: 335px

    @media (max-width: main-M - 1px) {
      width: 100%
    }
    @media (max-width: main-S - 1px) {
      .owl-stage-outer {
        overflow: visible
      }
    }
  }
}

.fifth-screen {
  padding-top: 60px
  padding-bottom: 70px

  overflow: hidden

  position: relative

  background-image: url(../img/reviews-bg.png)
  background-size: cover
  background-attachment: fixed

  .info-title {
    width: 100%
    text-align: center

    h3 {
      color: main-color
      font-family: HelvMedium
      font-size: 34px

      margin-top: 0
      margin-bottom: 15px
    }
    span {
      color: #969a9e
      font-family: HelvMedium
      font-size: 15px
    }
  }

  .reviews-container {
    width: 100%
    position: relative

    margin-top: 70px

    text-align: center

    @media (max-width: main-S - 1px) {
      margin-top: 40px
    }

    .review {
      display: inline-block
      text-align: left

      background: transparent

      @media (min-width: main-S) {
        width: 305px
      }
    }
    .review__body {
      position: relative

      padding: 16px 20px

      background: white

      border-radius: 6px

      height: 180px
      oberflow: hidden

      &:after {
        content: ''

        position: absolute

        top: 100%
        left: 50%

        margin-left: -10px

        triangle-top( 10px, white )
      }
    }
    .review__body-title {
      width: 100%

      margin-bottom: 12px

      font-family: HelvMedium
      font-size: 13px

      span {
        color: #a1a6a9
      }

      a {
        margin-left: 5px

        color: main-color-dark

        &:hover {
          text-decoration: underline
        }
      }
    }
    .review__body-text {
      color: main-color-dark
      font-family: HelvLight
      font-size: 13px
      line-height: 20px
    }
    .review__author {
      width: 100%

      margin-top: 20px

      text-align: center

      img {
        display: inline-block

        width: auto

        border-radius: 50%

        overflow: hidden

        border: 1px solid #a1a6a9
      }
    }
  }
}

.sixth-screen {
  padding-top: 60px
  padding-bottom: 70px

  background: white

  .info-title {
    width: 100%
    text-align: center

    h3 {
      color: main-color
      font-family: HelvMedium
      font-size: 28px

      margin: 0
    }
  }

  .sales-container {
    width: 100%
    position: relative

    margin-top: 70px

    text-align: center

    @media (max-width: main-S - 1px) {
      margin-top: 40px
    }

    .sale {
      display: inline-block
      text-align: left

      @media (min-width: main-S) {
        width: 305px
      }

      background: transparent
    }
    .sale__logo {
      display: inline-block
      width: 100%

      img {
        setWH(100%)

        border-radius: 6px
      }
    }
    .sale__title {
      margin-top: 14px
      margin-bottom: 10px

      color: main-color
      font-family: HelvMedium
      font-size: 13px
      line-height: 20px

      min-height: 40px
    }
    .sale__text {
      color: #a1a6a9
      font-family: HelvMedium
      font-size: 13px
      line-height: 20px

      min-height: 80px
    }
  }
}

.seventh-screen {
  background-color: white

  .partners-container {
    height: 100px

    box-shadow: 0 -1px 0 #e1e1e1

    display: flex
    align-items: center
    justify-content: space-around

    padding: 0 5%

    text-align: center

    .owl-stage {
      display: flex
      align-items: center
    }

    img {
      display: inline-block

      width: auto
      max-width: 100%
    }
  }

  @media (max-width: main-S - 1px) {
    .wrapper, .partners-container {
      padding: 0
    }
  }
}