mixin svg(icon)
    svg(class= icon)
        use(xmlns:xlink="http://www.w3.org/1999/xlink", xlink:href=`#${icon}`)
mixin preloader
    #floatingCirclesG.preloader
        <div class="f_circleG" id="frotateG_01"></div>
        <div class="f_circleG" id="frotateG_02"></div>
        <div class="f_circleG" id="frotateG_03"></div>
        <div class="f_circleG" id="frotateG_04"></div>
        <div class="f_circleG" id="frotateG_05"></div>
        <div class="f_circleG" id="frotateG_06"></div>
        <div class="f_circleG" id="frotateG_07"></div>
        <div class="f_circleG" id="frotateG_08"></div>