text( font, size, color, line-height )
  font-family: font
  font-size: size
  color: color
  line-height: line-height

button-two-colors( defaultColor, hoveredColor )
  color: hoveredColor
  background-color: defaultColor
  transition: all .2s ease
  &:hover {
    color: defaultColor
    background-color: hoveredColor
  }

setWH( w, h = w )
  width: w
  height: h

hide()
  opacity: 0
  visibility: hidden

hideAbsolute()
  position absolute
  hide()

hideY( time = 0.15s, px = 5px )
  hide()
  transform: translateY( px )
  transition: all time ease
  will-change: transform, opacity

hideYAbsolute( time = 0.15s, px = 5px )
  position absolute
  hideY( time, px )

show()
  opacity: 1
  visibility: visible
  transform: none

animatedItem()
  cursor: pointer
  transition: background-color .2s ease
  &:hover,
  &:active {
    background-color: #f1f1f1
  }

triangle-top( px = 5px, color = main-color-light )
  setWH(0)
  border-left: px solid transparent
  border-right: px solid transparent
  border-top: px solid color

triangle-bottom( px = 5px, color = main-color-light )
  setWH(0)
  border-left: px solid transparent
  border-right: px solid transparent
  border-bottom: px solid color

setPlaceholderColor( placeholderColor )
  &::-webkit-input-placeholder       {color: placeholderColor}
  &::-moz-placeholder                {color: placeholderColor}
  &:-moz-placeholder                 {color: placeholderColor}
  &:-ms-input-placeholder            {color: placeholderColor}

setPlaceholderFont( font )
  &::-webkit-input-placeholder       {font-family: font; font-size: 13px}
  &::-moz-placeholder                {font-family: font; font-size: 13px}
  &:-moz-placeholder                 {font-family: font; font-size: 13px}
  &:-ms-input-placeholder            {font-family: font; font-size: 13px}