include ../partials/variables
include ../partials/mixins
doctype html
html(lang='ru')
    block variables
        - var activeIndex = 0;
    head
        meta(name="format-detection", content="telephone=no")
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=no')
        title= title
        link(href=`css/index.min.css?v=${version}`, rel='stylesheet')
    body(class=bodyClass)
        // Global baseUrl and webpackManifest variables (for back-end purpose)
        script.
          window.baseUrl = location.origin;
          window.webpackManifest = {
            "1": "js/chunks/54428880ec8df798ac3d.js",
            "2": "js/chunks/3401050adc18c6afd06b.js"
          };
        // SVG (can be submitted to separate .svg file for caching and minifying)
        include ../components/svg
        // Menu
        include ../components/menu
        // Header
        include ../components/header
        // Main
        block main
            main
        // Footer
        include ../components/footer
        // Scripts
        script(src=`js/index.bundle.js?v=${version}`)