.inner-section__card {
  background-color: white
  border: 1px solid #e1e1e1
  border-radius: 3px

  padding: 20px 20px 25px 20px

  width: 100%

  @media (max-width: main-S - 1px) {
    width: calc(100% + 30px)

    margin-left: -15px

    border-radius: 0

    border-left: none
    border-right: none
  }
}

.inner-section__card-head {
  img.image {
    float: left

    margin-right: 20px
    margin-bottom: 15px

    width: auto
  }
  .title {
    @media (max-width: main-M - 1px) and (min-width: main-S) {
      margin-top: 0
      margin-left: 10px
    }
  }
  .name {
    width: 100%

    color: main-color
    font-family: HelvMedium
    font-size: 18px
    text-align: left

    margin-bottom: 17px
  }
  .label {
    max-width: calc(100% - 100px)
  }
  .label.location {
    margin-top: 11px

    @media (max-width: main-M - 1px) and (min-width: main-S) {
      margin-top: 0
      margin-left: 10px
    }

    svg {
      margin-left: 5px
    }
  }
}

.inner-section__card-body {
  float: left

  margin-top: 7px

  span {
    color: #3e454c
    font-family: HelvLight
    font-size: 13px
    line-height: 18px
  }
}

.inner-section__card-button {
  display: inline-block

  setWH(100%, 40px)

  margin-top: 25px

  background-color: #65ba52
  border-radius: 3px

  color: white
  line-height: 40px
  text-align: center

  transition: background-color main-ease-time ease

  &:hover {
    background-color: #48803c
  }
}

