.checkbox-placeholder {
  position: relative

  setWH(20px, 18px)

  border-radius: 3px
  border: 1px solid #e1e1e1

  transition: background-color main-ease-time ease

  svg {
    opacity: 0

    position: absolute

    left: 0
    top: 0

    setWH(100%)

    z-index: 1

    padding: 3px

    fill: white

    border-radius: 3px

    background-color: main-color

    transition: opacity main-ease-time ease
  }
}

input:checked + .checkbox-placeholder {
  border-color: transparent

  svg {
    opacity: 1
  }
}