// labels
.label {
  display: inline-block
  vertical-align: top

  svg {
    display: inline-block
    vertical-align: top

    fill: main-color

    margin-right: 7px
  }

  span {
    display: inline-block

    max-width: 88%

    overflow: hidden
    white-space: nowrap
    text-overflow: ellipsis

    color: #a1a6a9
    font-family: HelvMedium
    font-size: 13px
  }
  &.services {
    svg {
      setWH(13px)
    }
  }
  &.location {
    span {
      display: inline
    }
    svg {
      setWH(8px, 12px)
    }
  }
  &.messages {
    span {
      display: inline
    }
    svg {
      setWH(12px, 12px)
    }
  }
  &.rating {
    .rating__number {
      float: left

      color: main-color
      font-family: HelvMedium
      font-size: 13px

      margin-right: 7px

      paddin-top: 1px
    }
    .rating__stars {
      float: left

      setWH(70px, 14px)

      position: relative

      background: url(../img/star-grey.svg) 0 0 repeat-x

      > div {
        position: absolute

        left: 0
        top: 0

        height: 100%

        z-index: 1

        background: url(../img/star.svg) 0 0 repeat-x
      }
    }
  }
}

// default section
section {
  display: inline-block
  vertical-align: top
  width: 100%

  * {
    box-sizing: border-box
  }
}

// main wrapper element
.wrapper {
  height: 100%

  @media (min-width: 1350px) {
    width: 1150px
  }

  @media (min-width: 1024px) and (max-width: 1349px) {
    width: 935px
  }

  @media (max-width: 1023px) {
    width: 100%

    padding: 0 15px
  }

  margin: 0 auto
  box-sizing: border-box
}

// placeholder animations
.animatedPlaceholder::-webkit-input-placeholder       {text-indent: 0;   transition: all 0.3s ease;}
.animatedPlaceholder::-moz-placeholder                {text-indent: 0;   transition: all 0.3s ease;}
.animatedPlaceholder:-moz-placeholder                 {text-indent: 0;   transition: all 0.3s ease;}
.animatedPlaceholder:-ms-input-placeholder            {text-indent: 0;   transition: all 0.3s ease;}
.animatedPlaceholder:focus::-webkit-input-placeholder {text-indent: 70px; opacity: 0;}
.animatedPlaceholder:focus::-moz-placeholder          {text-indent: 70px; opacity: 0;}
.animatedPlaceholder:focus:-moz-placeholder           {text-indent: 70px; opacity: 0;}
.animatedPlaceholder:focus:-ms-input-placeholder      {text-indent: 70px; opacity: 0;}

// CSS-triangle
.triangle {
  display inline-block
  vertical-align middle

  triangle-top()

  transition: border-color main-ease-time ease, transform main-ease-time ease
}

// dropdowns
.dropdown {
  position: relative

  .dropdown__title {
    display: inline-block

    setWH(100%)

    text-align: center

    cursor: pointer

    .triangle {
      margin-top: -3px
      margin-left: 5px
    }

    &:after {
      content: ''

      display: inline-block
      vertical-align: middle

      height: 100%
    }
  }

  .dropdown__body {
    hideYAbsolute()

    padding: 0
    margin: 0

    left: 0
    top: 100%

    z-index: 2
  }

  .dropdown__body-inner {
    position: relative

    setWH(100%)
  }

  &.active {
    .dropdown__title {
      .triangle {
        transform: rotate(180deg)
      }
    }
    .dropdown__body {
      show()
    }
  }
}