/*========================================================
========================== HEADER ========================
========================================================*/

header {
  display: inline-block
  vertical-align: top

  setWH(100%, 64px)

  background-color: main-color
}

.right-side,
.left-side {
  display: inline-block

  setWH(auto, 100%)
}
.right-side {
  display: flex
  align-items: center
}


// navigation default styles (header & footer) and only-header styles
.navigation {
  height: 100%

  .links {
    height: 100%

    margin: 0
    padding: 0

    > li {
      position: relative

      display: inline-block
      vertical-align: top

      height: 100%

      padding: 0 30px

      @media (max-width: 1349px) {
        padding: 0 15px
      }

      color: white

      &.active:not(:last-child) {
        background-color: main-color-dark

        a {
          color: main-color-light
        }

        &:after {
          content: ''

          position: absolute

          top: 100%
          left: 50%

          margin-left: -10px

          triangle-top( 10px, main-color-dark )

          z-index: 1
        }
      }

      a {
        display: inline-block

        setWH(100%)

        text-align: center
        line-height: 62px
      }
    }
  }

  .dropdown.city {
    color: main-color-light
    transition: color main-ease-time ease

    .dropdown__title {
      min-width: 138px
    }

    .dropdown__body {
      margin-left: -140px
      left: 0
    }

    .dropdown__body-inner {
      border-radius: 0 0 6px 6px
      background-color: main-color-dark

      min-width: 330px

      padding: 35px 40px

      cursor: default

      ul, li {
        vertical-align: top
        display: inline-block

        padding: 0
      }

      ul {
        max-width: 100px

        &:not(:first-of-type) {
          margin-left: 50px
        }
      }

      li {
        position: relative

        width: 100%

        padding: 5px 0

        color: main-color-light

        cursor: pointer

        &:hover {
          color: white
        }

        &.active {
          color: main-green

          &:before {
            content: ''

            position: absolute

            setWH(4px)

            right: 100%
            top: 50%

            margin-top: -2.5px
            margin-right: 5px

            border-radius: 50%
            background-color: main-green
          }
        }
      }

      &:after {
        content: ''

        position: absolute

        bottom: 100%
        left: 50%

        margin-left: -10px

        triangle-bottom( 10px, main-color-dark )
      }
    }

    &.active, &:hover {
      color: white

      .triangle {
        border-top-color: white
      }
    }
  }
}

// default search form
form.search-bar-small {
  position: relative

  setWH(250px, 30px)

  margin-right: 30px

  border-radius: 100px
  background-color: main-color-dark

  label {
    display: inline-block
    setWH(100%)

    svg {
      position: absolute

      setWH(15px)

      left: 10px
      top: 7.5px

      fill: main-color-light

      transition: fill .3s ease
    }

    input {
      display: inline-block
      vertical-align: top

      setWH(100%)

      margin: 0
      padding: 0 0 0 35px

      font-size: 13px

      color: white

      background: transparent

      box-sizing: border-box

      setPlaceholderColor(main-color-light)
    }

    &.active {
      svg {
        fill: white
      }
    }
  }
}

// user profile
.user-profile {
  display: inline-block
  margin-right: 45px

  .new-messages {
    display: none

    font-family: HelvBold
    text-align: center
  }

  &.has-new-messages {
    .new-messages {
      display: block
    }
  }

  .dropdown__title {
    setWH(35px)

    border: 2px solid main-color-light
    border-radius: 50%

    transition: border-color main-ease-time ease

    box-sizing: border-box

    cursor: pointer

    > .new-messages {
      position: absolute

      left: 2px
      top: 2px

      setWH(31px)

      border-radius: 50%

      color: white

      box-sizing: border-box

      background: rgba(101, 186, 82, .5)

      line-height: 31px

      transition: opacity main-ease-time ease
    }

    img {
      setWH(100%)
    }

    &:after {
      content: ''

      position: absolute

      top: 50%
      left: 40px

      margin-top: -2px

      triangle-top()

      transition: border-color main-ease-time ease, transform main-ease-time ease
    }
  }

  .dropdown__body {
    margin-top: 13px
    margin-left: -87px
  }

  .dropdown__body-inner {
    border-radius: 0 0 6px 6px
    background-color: main-color-dark

    padding: 25px 35px

    cursor: default

    box-sizing: border-box

    &:after {
      content: ''

      position: absolute

      bottom: 100%
      left: 50%

      margin-left: -10px

      triangle-bottom( 10px, main-color-dark )
    }

    a {
      display: inline-block
      position: relative

      min-width: 140px
      height: 40px

      color: main-color-light
      font-family: HelvMedium
      line-height: 40px

      > .new-messages {
        position: absolute

        right: 0
        top: 9px

        setWH(22px)

        border-radius: 50%

        color: main-black
        line-height: 22px

        background-color: main-green
      }

      &:not(:last-of-type) {
        &:after {
          content: ''

          position: absolute

          left: 1px
          bottom: 0

          setWH(10px, 1px)

          background: main-color-light
        }
      }

      &:hover {
        color: white
      }
    }
  }

  &:hover, &.active {
    .dropdown__title {
      border-color: white

      div.new-messages {
        opacity: 0
      }

      &:after {
        border-top-color: white
      }
    }
  }

  &.active {
    .dropdown__title {
      &:after {
        transform: rotate(180deg)

        border-top-color: white
      }
    }
  }
}

// Login / Logout button
a.action-button {
  setWH(70px, 30px)

  border-radius: 100px
  border: 2px solid white

  font-family: HelvBold
  color: white

  text-align: center
  line-height: 30px

  background: transparent

  transition: background main-ease-time ease, color main-ease-time ease

  &:hover {
    background: white
    color: main-color
  }
}

/*========================================================
========================== FOOTER ========================
========================================================*/
footer {
  display: inline-block
  vertical-align: bottom

  setWH(100%, 100px)

  box-shadow: 0 -1px 0 #e1e1e1
  background-color: #ededed

  .copyright {
    height: 100%

    color: #a1a6a9
    font-family: HelvBold
    line-height: 100px
  }

  .dropdown .dropdown__body {
    top: auto
    bottom: calc(100% + 1px)

    transform: translateY(-5px)

    .dropdown__body-inner {
      border-radius: 6px 6px 0 0!important

      &:after {
        top: 100%
        bottom: auto

        transform: rotate(180deg)
      }
    }
  }

  .user-profile {

    .dropdown__body {
      margin-top: 0
      bottom: 70px
    }

    .dropdown__title {
      border-color: main-color-dark

      &:after {
        border-top-color: main-color-dark

        transform: rotate(180deg)
      }
    }

    &.active {
      .dropdown__title:after {
        transform: rotate(0)
      }
    }

    &.active, &:hover {
      .dropdown__title {
        border-color: main-color-dark
        &:after {
          border-top-color: main-color-dark
        }
      }
    }
  }

  a.action-button {
    color: main-color-dark
    border-color: main-color-dark

    &:hover {
      color: #ededed
      background-color: main-color-dark
    }
  }
}

.navigation-footer {
  .links {
    > li {
      color: #3e454c

      a {
        line-height: 100px

        transition: color main-ease-time ease

        &:hover {
          color: main-green
        }
      }

      &.active:not(:last-child) {
        background-color: transparent

        a {
          color: #a1a6a9
        }

        &:after {
          display: none
        }
      }
    }
  }

  .dropdown.city {
    color: #a1a6a9

    .triangle {
      border-top-color: #a1a6a9
      transform: rotate(180deg)
    }

    &.active {
      .triangle {
        transform: rotate(0)
      }
    }

    &.active, &:hover {
      color: main-green

      .triangle {
        border-top-color: main-green
      }
    }
  }
}

/*========================================================
======================== RESPONSIVE ======================
========================================================*/
@media (max-width: 1023px) {
  .navigation,
  header .search-bar-small,
  .user-profile,
  footer a.action-button {
    display: none!important
  }

  footer {
    .left-side {
      float: right
    }
  }
}