.irs {
  height: 30px
}
.irs-with-grid {
  height: 60px;
}
.irs-line {
  height: 5px; top: 0;
}
.irs-line-left {
  background: #b9bdc0;
  border-radius: 3px 0 0 3px;
  top: 0
  height: 5px
}
.irs-line-mid {
  height: 5px;
  background: #b9bdc0;
}
.irs-line-right {
  background: #b9bdc0;
  border-radius: 0 3px 3px 0;
  top: 0
  height: 5px
}

.irs-bar {
  height: 5px; top: 0;
  background: main-color
}
.irs-bar-edge {
  top: 0;
  height: 5px; width: 11px;
  background-position: 0 -90px;
}

.irs-shadow {
  height: 1px; top: 34px;
  background: #000;
  opacity: 0.15;
}

.irs-slider {
  width: 17px; height: 17px;
  top: -6px;

  background: main-color

  border: 2px solid #f5f5f5
  border-radius: 50%

  cursor: pointer

  transition: transform .2s ease

  > span {
    display: inline-block

    border-radius: 50%
    background-color: main-blue

    setWH(60%)

    margin-left: 20%
    margin-top: 20%
  }
}
.irs-slider.state_hover, .irs-slider:hover {
  background-position: 0 -150px;

  transform: scale(1.1)
}

.irs-min, .irs-max {
  color: #999;
  font-size: 10px; line-height: 1.333;
  text-shadow: none;
  top: 0; padding: 1px 3px;
  background: rgba(0,0,0,0.1);
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.lt-ie9 .irs-min, .lt-ie9 .irs-max {
  background: #ccc;
}

.irs-from, .irs-to, .irs-single {
  font-size: 13px;
  line-height: 1.333;
  text-shadow: none;
  padding: 1px 5px;
  background: none;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.lt-ie9 .irs-from, .lt-ie9 .irs-to, .lt-ie9 .irs-single {
  background: #999;
}

.irs-grid-pol {
  background: #99a4ac;
}
.irs-grid-text {
  color: #99a4ac;
}

.irs-from, .irs-to, .irs-single {
  top: 11px

  color: main-color
}