// ITEMS DOTS
.inner-section__dots-container {
  text-align: center

  margin-top: 40px
}

.inner-section__dot {
  display: inline-block

  setWH(30px)

  border-radius: 3px

  cursor: pointer

  line-height: 28px

  background-color: #e1e1e1
  color: white

  border: 2px solid transparent

  &:not(:first-child) {
    margin-left: 5px
  }

  &.active {
    background: white

    border: 2px solid main-color-dark

    color: main-color-dark
  }
}

// ITEMS CONTAINER
.inner-section__item-container {
  position: relative

  &.loading {
    .new-items-loader {
      display: block
    }
    .inner-section__item {
      filter: blur(2px)
    }
  }
}

// ITEM ITSELF
.inner-section__item {
  min-height: 90px

  position: relative

  background: white

  border: 1px solid #e1e1e1

  border-radius: 3px

  &:nth-child(odd) {
    background-color: #f8f8f8
  }
}
.inner-section__item-title {
  color: main-color
  font-family: HelvMedium
  font-size: 18px
}
.inner-section__item-button {
  color: white
  font-size: 13px
  text-align: center

  cursor: pointer

  background-color: main-color

  transition: background-color main-ease-time ease

  &:hover {
    background-color: black
  }
}