// Close / Open trigger. Located in header and footer
.menu-trigger {
  font-family: HelvBold

  display: none

  @media (max-width: 1023px) {
    display: block
  }

  &.menu-header {
    color: white

    margin-top: 25px

    .menu-trigger__hamburger {
      span {
        background: white
      }
    }
  }
  &.menu-footer {
    color: main-color-dark

    margin-top: 43px

    .menu-trigger__hamburger span {
      background: main-color-dark
    }
  }
  &.menu-main-menu {
    display: inline-block
    color: main-color-light

    margin-top: 25px
    padding-left: 4px

    .menu-trigger__hamburger {
      span {
        background: main-color-light
      }
    }
  }
}

.menu-trigger__hamburger {
  position: relative
  display: inline-block
  margin-right: 8px

  setWH(15px, 10px)

  span {
    position: absolute
    display: block

    setWH(100%, 2px)

    left: 0

    transform: rotate(0deg)

    &:nth-of-type(1) {
      top: 0
    }
    &:nth-of-type(2) {
      top: 4px
    }
    &:nth-of-type(3) {
      top: 4px
    }
    &:nth-of-type(4) {
      top: 8px
    }
  }
}

// Menu itself
.main-menu {
  position: fixed

  top: 0
  left: -(main-menu-width)

  setWH(main-menu-width, 100vh)

  border: 1px solid #e1e1e1

  background-color: #fff

  box-sizing: border-box
}

.main-menu__container {
  setWH(100%)

  padding: 0 20px

  box-sizing: border-box

  overflow-y: scroll

  -webkit-overflow-scrolling: touch
}

.main-menu__head,
.main-menu__body {
  display: inline-block
  width: 100%
}

.main-menu__head {
  height: 62px

  border-bottom: 1px solid #e1e1e1
}

.main-menu__body {
  margin-top: 20px

  padding-bottom: 50px

  .search-bar-small {
    width: 110%
    margin-left: -5%

    background-color: #f5f5f5

    svg {
      fill: #b9bdc0
    }

    input {
      color: main-black

      setPlaceholderColor(#b9bdc0)
    }

    label.active svg {
      fill: main-black
    }
  }
}

.main-menu__navigation {
  margin-top: 20px

  a {
    display: inline-block

    setWH(100%, 33px)

    line-height: 33px
    color: main-color-dark

    margin-bottom: 7px

    &.active {
      color: main-color-light
    }
  }
}

.main-menu__cities {
  display: inline-block

  .dropdown__title {
    height: 33px
    line-height: 33px

    text-align: left

    .triangle {
      border-top-color: main-color-dark
    }
  }

  .dropdown__body {
    display: none
    position: relative

    transform: none
    opacity: 1
    transition: none

    ul {
      margin: 0
      padding: 0 0 0 25px

      li {
        height: 25px

        line-height: 25px

        &:not(:first-of-type) {
          margin-top: 5px
        }

        &.active {
          color: main-color-light
        }
      }
    }
  }

  &.active {
    .dropdown__body {
      display: inline-block
    }
  }
}

.main-menu__action-button {
  display: inline-block

  setWH(100%, 30px)

  margin-top: 20px

  border: 2px solid main-color-dark
  border-radius: 3px

  color: main-color-dark
  text-align: center
  line-height: 28px

  box-sizing: border-box

  &:active {
    color: white

    background-color: main-color-dark
  }
}

// 'MENU IS OPENED' STYLES
body {
  transition: transform .35s cubic-bezier(0.25, 0.46, 0.45, 0.94)
}
.menu-trigger__hamburger span {
  transition: .35s ease-in-out
}
body.menu-footer {
  .main-menu {
    top: auto
    bottom: 0
  }
}
body.menu-opened {
  transform: translate3d(main-menu-width, 0, 0)
  overflow: hidden

  // hamburger animation
  .menu-trigger__hamburger span {
    &:nth-of-type(1) {
      top: 4px
      left: 50%

      width: 0
    }
    &:nth-of-type(2) {
      transform: rotate(45deg)
    }
    &:nth-of-type(3) {
      transform: rotate(-45deg)
    }
    &:nth-of-type(4) {
      top: 4px
      left: 50%

      width: 0
    }
  }
}