.select-box {
  position: relative

  select {
    z-index: 1;
    position: relative;
    width: 100% !important;
    height: 100% !important;
    padding: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none !important;
    background: 0 0;
  }
}