.tag {
  display: inline-block!important

  padding: 10px

  border-radius: 3px

  background: #b9bdc0

  cursor: pointer

  color: white

  font-family: HelvMedium

  margin-top: 10px

  &:not(:last-child) {
    margin-right: 10px
  }

  .close {
    position: relative

    display: inline-block

    setWH(20px)

    margin-left: 10px
    margin-bottom: -5px

    background: white

    border-radius: 50%

    transition: box-shadow main-ease-time ease

    &:hover {
      box-shadow: 0 0px 4px 2px #e1e1e1
    }

    span {
      position: absolute

      display: inline-block

      width: 2px

      height: 10px

      background: #b9bdc0

      left: 45%
      top: 5px

      &:first-of-type {
        transform: rotate(-45deg)
      }

      &:last-of-type {
        transform: rotate(45deg)
      }
    }
  }
}

.tag-container {
  display: inline-block

  width: 100%

  .empty {
    display: none;

    margin-top: 10px

    color: main-color
    padding: 10px 0
  }

  &.empty {
    .empty {
      display: inline-block
    }
  }

  &.example {
    .tag {
      background: #d7d9da

      &:hover {
        background: #b9bdc0
      }
    }
  }
}

.easy-autocomplete {
  .tag {
    margin-bottom: 10px

    background: main-color

    .close {
      display: none
    }
  }
}