error-color = #d42727

.form-input {
  .error {
    display: none

    width: 100%

    margin-top: 5px

    font-family: HelvLight, sans-serif
    font-size: 11px
    color: error-color
    letter-spacing: 0.5px
  }

  &.incorrect {
    input {
      border-color: error-color
    }
    .error {
      display: block
    }
  }
}