footer
    .wrapper
        .menu-trigger.menu-footer.pull-left
            .menu-trigger__hamburger
                span
                span
                span
                span
            span Меню
        .left-side.pull-left
            .copyright Copyright © 2016
        .right-side.pull-right
            nav.navigation.navigation-footer
                ul.links
                    li: a(href="#!") МАСТЕРА
                    li: a(href="#!") САЛОНЫ
                    li: a(href="#!") АКЦИИ
                    li.dropdown.city
                        .dropdown__title
                            span.selected ВЫБЕРИТЕ ГОРОД
                            .triangle
                        .dropdown__body
                            .dropdown__body-inner
                                ul
                                    li(data-city-id="1") Киев
                                    li(data-city-id="2") Харьков
                                    li(data-city-id="3") Одесса
                                    li(data-city-id="4") Днепр
                                    li(data-city-id="5") Донецк
                                    li(data-city-id="6") Запорожье
                                    li(data-city-id="7") Львов
                                    li(data-city-id="8") Кривой Рог
                                    li(data-city-id="9") Николаев
                                ul
                                    li(data-city-id="10") Мариуполь
                                    li(data-city-id="11") Луганск
                                    li(data-city-id="12") Винница
                                    li(data-city-id="13") Макеевка
                                    li(data-city-id="14") Севастополь
                                    li(data-city-id="15") Симферополь
                                    li(data-city-id="16") Херсон
                                    li(data-city-id="17") Херсон
                                ul
                                    li(data-city-id="18") Чернигов
                                    li(data-city-id="19") Полтава
                                    li(data-city-id="20") Черкассы
                                    li(data-city-id="21") Хмельницкий
                                    li(data-city-id="22") Сумы
                                    li(data-city-id="23") Житомир
            .user-profile.dropdown.user-logged
                .dropdown__title
                    img(src="pic/user-photo-header.png")
                .dropdown__body
                    .dropdown__body-inner
                        a(href="#!") Мои сообщения
                        a(href="#!") Редакт. профиль
                        a(href="#!") Сменить пароль
                        a(href="#!") Список моих услуг
                        a(href="#!") Список моих акций
                        a(href="#!") Отзывы от клиентов
            a.action-button(href="#!") Выйти
