header
    .wrapper
        .menu-trigger.menu-header.pull-left
            .menu-trigger__hamburger
                span
                span
                span
                span
            span Меню
        .left-side.pull-left
            nav.navigation.navigation-header
                ul.links
                    li(class= activeIndex == 1 ? 'active' : null): a(href="#!" ) МАСТЕРА
                    li(class= activeIndex == 2 ? 'active' : null): a(href="#!") САЛОНЫ
                    li(class= activeIndex == 3 ? 'active' : null): a(href="#!") АКЦИИ
                    li.dropdown.city
                        .dropdown__title
                            span.selected ВЫБЕРИТЕ ГОРОД
                            .triangle
                        .dropdown__body
                            .dropdown__body-inner
                                ul
                                    li(data-city-id="1") Киев
                                    li(data-city-id="2") Харьков
                                    li(data-city-id="3") Одесса
                                    li(data-city-id="4") Днепр
                                    li(data-city-id="5") Донецк
                                    li(data-city-id="6") Запорожье
                                    li(data-city-id="7") Львов
                                    li(data-city-id="8") Кривой Рог
                                    li(data-city-id="9") Николаев
                                ul
                                    li(data-city-id="10") Мариуполь
                                    li(data-city-id="11") Луганск
                                    li(data-city-id="12") Винница
                                    li(data-city-id="13") Макеевка
                                    li(data-city-id="14") Севастополь
                                    li(data-city-id="15") Симферополь
                                    li(data-city-id="16") Херсон
                                    li(data-city-id="17") Херсон
                                ul
                                    li(data-city-id="18") Чернигов
                                    li(data-city-id="19") Полтава
                                    li(data-city-id="20") Черкассы
                                    li(data-city-id="21") Хмельницкий
                                    li(data-city-id="22") Сумы
                                    li(data-city-id="23") Житомир
        .right-side.pull-right
            form.search-bar-small(method="get", action="search.html")
                label
                    +svg('icon-search')
                    input.animatedPlaceholder(type="text", placeholder="Поиск")
            .user-profile.has-new-messages.dropdown.user-logged
                .dropdown__title
                    img(src="pic/user-photo-header.png")
                    .new-messages +5
                .dropdown__body
                    .dropdown__body-inner
                        a(href="#!") Мои сообщения
                            span.new-messages 5
                        a(href="#!") Редакт. профиль
                        a(href="#!") Сменить пароль
                        a(href="#!") Список моих услуг
                        a(href="#!") Список моих акций
                        a(href="#!") Отзывы от клиентов
            a.action-button(href="#!") Войти
