.main-menu
    .main-menu__container
        .main-menu__head
            .menu-trigger.menu-main-menu
                .menu-trigger__hamburger
                    span
                    span
                    span
                    span
                span Меню
        .main-menu__body
            form.search-bar-small(method="get", action="search.html")
                label
                    +svg('icon-search')
                    input.animatedPlaceholder(type="text", placeholder="Поиск")
            nav.main-menu__navigation
                a(href="#!") МАСТЕРА
                a(href="#!") САЛОНЫ
                a(href="#!") АКЦИИ
            .main-menu__cities.dropdown.city.list
                .dropdown__title
                    span.selected ВЫБЕРИТЕ ГОРОД
                    .triangle
                .dropdown__body
                    ul.dropdown__body-inner
                        li(data-city-id="1") Киев
                        li(data-city-id="2") Харьков
                        li(data-city-id="3") Одесса
                        li(data-city-id="4") Днепр
                        li(data-city-id="5") Донецк
                        li(data-city-id="6") Запорожье
                        li(data-city-id="7") Львов
                        li(data-city-id="8") Кривой Рог
                        li(data-city-id="9") Николаев
                        li(data-city-id="10") Мариуполь
                        li(data-city-id="11") Луганск
                        li(data-city-id="12") Винница
                        li(data-city-id="13") Макеевка
                        li(data-city-id="14") Севастополь
                        li(data-city-id="15") Симферополь
                        li(data-city-id="16") Херсон
                        li(data-city-id="17") Херсон
                        li(data-city-id="18") Чернигов
                        li(data-city-id="19") Полтава
                        li(data-city-id="20") Черкассы
                        li(data-city-id="21") Хмельницкий
                        li(data-city-id="22") Сумы
                        li(data-city-id="23") Житомир
            a.main-menu__action-button Войти
            a.main-menu__action-button Зарегистрироваться