/* PARTIALS */
@import 'partials/mixins'
@import 'partials/variables'
@import 'partials/fonts'

/* LIBS */
@import 'normalize.css'
@import 'easy-autocomplete/dist/easy-autocomplete.css'
@import 'owl.carousel/dist/assets/owl.carousel.css'
@import 'owl.carousel/dist/assets/owl.theme.default.css'
@import 'ion-rangeslider/css/ion.rangeSlider.css'

/* COMPONENTS */
@import 'components/common'
@import 'components/header-footer'
@import 'components/menu'
@import 'components/item'
@import 'components/card'
@import 'components/preloader'
@import 'components/validator'
@import 'components/select-box'
@import 'components/irs-custom'
@import 'components/checkbox'
@import 'components/tag'

/* PAGES */
@import 'pages/main'
@import 'pages/catalog'
@import 'pages/authorization'

//  Show different interfaces (styles) for logged / not logged users
//  (can be easily changed for another mechanics by changing styles below)
.user-not-logged
.user-logged
  display: none
body
  &.logged
    .user-logged
      display: block
  &.not-logged
    .user-not-logged
      display: block

/* DEFAULT STYLES */
html
  width 100%
  font-family HelvBold, sans-serif
  font-size 13px
  background white

main
  display inline-block
  width 100%
  min-height calc(100vh - 164px)

*
  outline none

ul li
  list-style none

a
  text-decoration none
  color inherit

// grey highlight on safari
*
  -webkit-tap-highlight-color rgba(0,0,0,0)
  -webkit-touch-callout none

// buttons
button
  cursor pointer

// font rendering
html
  -webkit-font-smoothing subpixel-antialiased
  -moz-osx-font-smoothing grayscale
body
  text-rendering optimizeLegibility
  @media (max-width: 1024px)
    cursor pointer

// prevent y-axis scrollbar
body
  overflow-x hidden
  width 100%
  min-height 100vh
input
  border none
  outline none

// all placeholders font-family
input, textarea, select
  font-family HelvMedium
  setPlaceholderFont(HelvMedium)

// safari numbers color issue fix
a[href^=tel]
  color inherit
  text-decoration none

// remove autofill highlight
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset !important
}

// input type="number" - remove spins
input[type="number"]::-webkit-outer-spin-button
input[type="number"]::-webkit-inner-spin-button
  -webkit-appearance none
  margin 0
input[type="number"]
  -moz-appearance textfield

// remove button default styles
button
  border none

// help classes
.clearfix
  &:before,
  &:after
    content: " "
    display: table
  &:after
    clear: both
.inline-middle
  display: inline-block
  vertical-align: middle
.inline-bottom
  display: inline-block
  vertical-align: bottom
.full-height
  height: 100%
.clearfix
  &:before,
  &:after
    content: " "
    display: table
  &:after
    clear: both
.pull-left
  float: left
.pull-right
  float: right
.clear-both
  clear: both
.relative
  position: relative
.zero-height
  height: 0
.flex-container
  display flex
  &.space-between
    justify-content space-between
  &.space-around
    justify-content space-around
  &.align-center
    align-items center
  &.align-top
    align-items flex-start
  &.align-bot
    align-items flex-end
  &.direction-column
    flex-direction column
  &.direction-row
    flex-direction row