<div class="inner-section__item">
    <div class="inner-section__item-title">Testing Barbershop</div>
    <div class="inner-section__item-logo">
        <div class="inline-middle full-height"></div>
        <img src="pic/main-logo-3.png"></div>
    <div class="inner-section__item-labels">
        <div class="label services">
            <svg class="icon-scissors">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-scissors"></use>
            </svg>
            <span>Прически, Стрижка, остальной длинный текст</span></div>
        <div class="label location">
            <svg class="icon-gps">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-gps"></use>
            </svg>
            <span>Киев, Украина</span></div>
    </div>
    <a class="inner-section__item-button" href="#!"><span>Подробнее</span>
        <div class="icon-arrow"></div>
    </a></div>
<div class="inner-section__item">
    <div class="inner-section__item-title">TESTING BARBERS</div>
    <div class="inner-section__item-logo">
        <div class="inline-middle full-height"></div>
        <img src="pic/main-logo-1.png"></div>
    <div class="inner-section__item-labels">
        <div class="label services">
            <svg class="icon-scissors">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-scissors"></use>
            </svg>
            <span>Стрижка, Укладка волос</span></div>
        <div class="label location">
            <svg class="icon-gps">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-gps"></use>
            </svg>
            <span>Москва, Россия</span></div>
    </div>
    <a class="inner-section__item-button" href="#!"><span>Подробнее</span>
        <div class="icon-arrow"></div>
    </a></div>
<div class="inner-section__item">
    <div class="inner-section__item-title">TESTING TOUR</div>
    <div class="inner-section__item-logo">
        <div class="inline-middle full-height"></div>
        <img src="pic/main-logo-2.png"></div>
    <div class="inner-section__item-labels">
        <div class="label services">
            <svg class="icon-scissors">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-scissors"></use>
            </svg>
            <span>Прически</span></div>
        <div class="label location">
            <svg class="icon-gps">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-gps"></use>
            </svg>
            <span>Киев, Украина</span></div>
    </div>
    <a class="inner-section__item-button" href="#!"><span>Подробнее</span>
        <div class="icon-arrow"></div>
    </a></div>